html

	head

	body
		.main
			ul.files
				each file, id in files
					li 
						a(href="#", file-id="#{file.id}") #{file.name}
						a(href="/files/#{file.id}/download") download
						a(href="/files/#{file.id}/preview") preview
