html

	head
		link(rel="stylesheet",href="/css/site.css")
	body
		.main
			ul.files
				each file, id in files
					li 
						label #{file.name}
						a(href="/files/#{file.id}/download") download
						a(href="/files/#{file.id}/preview") preview

	script(type="text/javascript", src="/js/label.js")
						
