html

	head
		link(rel="stylesheet",href="/css/site.css")
	body
		.main
			ul.files
				each file, id in files
					li 
						span #{file.name}
						a(href="/files/#{file.id}/download") download
						a(href="/files/#{file.id}/preview") preview
						
